@import 'reset.css';
@import 'variables.css';
@import 'swiper/swiper-bundle.css';


body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	letter-spacing: 0.2rem;
	background-color: var(--background-color);
	color: var(--text-color);
}
/* buttons */
button {
	cursor: pointer;
	border: none;
	border-radius: 20px;
	font-size: 13px;
}
.primary-button {
	background-color: var(--button-color-primary);
	color: var(--button-text-color-primary);
	transition: background-color 0.3s ease, color 0.3s ease;
}
.primary-button:hover {
	background-color: var(--button-color-hover-primary);
}
.secondary-button {
	background-color: var(--button-color-secondary);
	color: var(--button-text-color-secondary);
	transition: background-color 0.3s ease, color 0.3s ease;
}
.secondary-button:hover {
	background-color: var(--button-color-hover-secondary);
	color: var(--button-text-color-primary);
}
.delete-button {
	background-color: var(--delete-button-color);
	color: var(--button-text-color);
}
.delete-button:hover {
	background-color: var(--delete-button-color-hover);
}
