:root {
	/* background color */
	--background-color: #20212c;

	/* text color */
	--text-color: #ffffff;
	--text-color-secondary: #828fa3;
	/* button primary */
	--button-color-primary: #635fc7;
	--button-text-color-primary: #ffffff;
	--button-color-hover-primary: #a8a4ff;
	/* button secondary */
	--button-color-secondary: #ffffff;
	--button-text-color-secondary: #635fc7;
	--button-color-hover-secondary: #a8a4ff;
	/* button delete */
	--delete-button-color: #ea5555;
	--delete-button-color-hover: #ff9898;
	/* header */
	--header-background-color: #2b2c37;
}

[data-theme='light'] {
	/* background color */
	--background-color: #f4f7fd;
	/* text color */
	--text-color: #000000;
	--text-color-secondary: #828fa3;
	/* button secondary */
	--button-color-secondary: rgba(99, 95, 199, 0.1);
	--button-color-hover-secondary: rgba(99, 95, 199, 0.3);
	/* header */
	--header-background-color: #ffffff;
}
